.top{
    width: 100%;
    height:70px;
   background-color: rgb(247, 244, 244);
    position: fixed;
    top:0;
    transition: all 1s ease;
    
    z-index:3;
}
.wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.topLeft{
   
    display:flex;
    align-items: center;
    justify-content: center;
    
 }
  

 

.logo{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 40px;
    color:green;
}
 

.itemContainer {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.icon {
      font-size: 18px;
      margin-right: 5px;
      color: red;
    }
    .itemContainer .icon span{
        font-size: 15px;
        font-weight: 500;
    }  
  
  
 .topRight {
     .hamburger {
        width:32px;
        height: 25px;
        display: flex;
        overflow: hidden;
       flex-direction: column;
        justify-content: space-between;
       cursor: pointer;
          }
 }
  
 .hamburger span {
    width: 100%;
    height: 3px;
  
   background-color: black;
    transform-origin: left;
    transition: all 2s ease;
 }
 &.active .hamburger span {
    background-color: aquamarine;
    color: black;
 
   &:first-child {
        background-color: black;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        background-color: black;
        transform: rotate(-45deg);
      }

      
         
  
    }

 
 
    
    
   
     
    
     
     
    
    
     
    
     